.item {
    width: 25%;
    box-sizing: border-box;
    height: 500px;
    float: left;
    padding: 0 6px;
}

.gallery {
    border: 1px rgb(189, 186, 186) solid;
    text-align: center;
}

.gallery:hover {
    border: 1px rgb(71, 71, 71) solid;
}
.gallery>img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .item {
        width: 33.3%;
    }
  }

  @media only screen and (max-width: 700px) {
    .item {
        width: 50%;
    }
  }

  @media only screen and (max-width: 500px) {
    .item {
        width: 100%;
    }
  }